/* Structure */
.example-container {
  position: relative;
  min-height: 200px;
}

.example-table-container {
  position: relative;
  height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

/**/
.action-buttons {
  width: 10%;
}

.action-header {
  text-align: center;
}

.fab-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.fab-button-container > button {
  top: 45px;
}

/**/
tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #212121;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #1c1b1b;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.devices {
  display: flex;
  flex-direction: column;
}

.device {
  display: flex;
  width: 100%;
}

.device > div {
  width: 25%;
  text-align: center;
}

.device-header {
  font-size: 1.2em;
  font-weight: bold;
  color: aquamarine;
  display: flex;
  width: 100%;
}

.device-header > div {
  width: 25%;
  text-align: center;
}

